*{
    font-family: DINPro-Medium;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left:20px ;
    padding-right: 20px;
}
p{
    font-size: 14px;
    font-family: DINPro-Medium;
    color: #444444;
}


    
/* helper classes */

.text-green-blue{
    color: #37b396;
}
.text-blue{
    color: #68a7ff;
}
.text-light-grey{
    color: #adadad;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-end{
    justify-content: flex-end;
}
.text-align-right{
    text-align: right;
}
.align-items-center{
    align-items: center;
}

.my-1{
    margin-top: 8px;
    margin-bottom: 8px;
}
.mt-2{
    margin-top: 15px;
}
.mx-1{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.d-flex{
    display: flex;
}
.fluid-img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}