*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'DINPro-Regular';
  src:  url('./fonts/DINPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro-Bold';
  src:  url('./fonts/DINPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DINPro-Medium';
  src:  url('./fonts/DINPro_Medium.ttf') format('truetype');
}